.contenedor3 {
    background-color: rgb(185, 185, 172);
    display: flex;
    justify-content: space-between;

}

.item1 {
    background-color: red;
    width: 400px;
    height: 400px;
    text-align: center;
    font-size: 30px;
    margin: 0px;
    border-radius: 10px;
}

.item2 {
    background-color: blue;
    width: 400px;
    height: 400px;
    text-align: center;
    font-size: 30px;
    margin: 0;
    border-radius: 10px;

}

.item3 {
    background-color: green;
    width: 400px;
    height: 400px;
    text-align: center;
    font-size: 30px;
    margin: 0px;
    border-radius: 10px;